# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
volunteasy-cli
volunteasy-api

## Environment files
.env

# Test binary, built with `go test -c`
*.test
coverage.html
# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/



# Mock files
*_mock.go



# IDEs
/.idea


/docker-compose.yaml