@page "/"
@inject AuthenticationStateProvider Auth

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app, 

<AuthorizeView>
    <Authorized>
        @UserName
    </Authorized>
</AuthorizeView>



<SurveyPrompt Title="How is Blazor working for you?"/>


@code {

    public string UserName => 
        Auth.GetAuthenticationStateAsync().GetAwaiter()
            .GetResult().User.Identity?.Name ?? "NONAME";

}