@page "/"
@using Volunteasy.Web.Auth
@inject AuthenticationStateProvider Auth
@inject NavigationManager Nav

@attribute [AllowAnonymous]

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app, 

<AuthorizeView>
    <Authorized>
        @UserName
    </Authorized>
    <Authorizing>
        Authorizing
    </Authorizing>
</AuthorizeView>



<SurveyPrompt Title="How is Blazor working for you?"/>


@code {

    public string Email { get; set; } = "johndoe@volunteasy.com";

    public string Password { get; set; } = "password1234";

    public string UserName => Auth.GetAuthenticationStateAsync().GetAwaiter().GetResult().User.Identity?.Name ?? "NONAME";

    protected override async Task OnInitializedAsync()
    {
        var authState = await Auth.GetAuthenticationStateAsync();
        if (!authState.User.Identity?.IsAuthenticated ?? true)
        {
            Nav.NavigateTo("Login");
        }
        
        await base.OnInitializedAsync();
    }
}