@page "/Login"


<PageTitle>Login</PageTitle>

<form action="/admin/auth" method="post">
    <input name="email" value="johndoe@volunteasy.com"/>
    <input name="password" value="password1234"/>
    <button type="submit">Entrar</button>
</form>