@page "/auth/register/org"
@model Volunteasy.Api.Pages.Auth.Organization

@{
    Layout = "_Layout";
}

<main class="main-content  mt-0">
    <section>
        <div class="page-header align-items-start min-vh-20 pt-5 pb-11 m-3 border-radius-lg" style="background-image: url('img/curved-images/curved6.jpg');">
            <span class="mask bg-gradient-dark opacity-6"></span>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5 text-center mx-auto">
                        <h1 class="text-white mb-2 mt-5">Bem vindo!</h1>
                        <p class="text-lead text-white">Crie sua conta para começar a gerenciar sua organização</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row mt-md-n11 mt-n10">
                <div class="col-xl-4 col-lg-5 col-md-7 mx-auto">
                    <div class="card z-index-0">
                        <div class="card-body">
                            <form role="form text-left">
                                <div class="mb-3">
                                    <input name="name" type="text" class="form-control" placeholder="Seu nome" aria-label="Name" aria-describedby="email-addon">
                                </div>

                                <div class="mb-3">
                                    <input name="phone" type="tel" class="form-control" placeholder="Seu telefone" aria-label="Phone" aria-describedby="phone-addon">
                                </div>
                                <div class="mb-3">
                                    <input name="cep" type="text" class="form-control" placeholder="CEP" aria-label="Zip code" aria-describedby="postal-code-addon">
                                </div>
                                <div class="mb-3">
                                    <input name="addressName" type="text" class="form-control" placeholder="Endereço" aria-label="Address" aria-describedby="address-addon">
                                </div>
                                
                                <label>Suas credenciais</label>
                                <div class="mb-3">
                                    <input name="email" type="email" class="form-control" placeholder="Seu e-mail" aria-label="Email" aria-describedby="email-addon">
                                </div>
                                <div class="mb-3">
                                    <input name="password" type="password" class="form-control" placeholder="Crie uma senha" aria-label="Password" aria-describedby="password-addon">
                                </div>
                                <div class="form-check form-check-info text-left">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked>
                                    <label class="form-check-label" for="flexCheckDefault">
                                        Concordo com os <a href="javascript:;" class="text-dark font-weight-bolder">termos e condições</a>
                                    </label>
                                </div>
                                <div class="text-center">
                                    <button type="button" class="btn bg-gradient-dark w-100 my-4 mb-2">Sign up</button>
                                </div>
                                <p class="text-sm mt-3 mb-0">Já tem uma conta? <a href="javascript:;" class="text-dark font-weight-bolder">Entre</a></p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>