<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="apple-touch-icon" sizes="76x76" href="~/img/apple-icon.png">
    <link href="~/Volunteasy.Api.styles.css" rel="stylesheet"/>
    <link rel="icon" type="image/png" href="~/favicon.ico"/>
    
    <base href="/"/>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet"/>
    <link href="~/css/site.css" rel="stylesheet"/>
    <link href="~/css/nucleo-icons.css" rel="stylesheet"/>
    <link href="~/css/nucleo-svg.css" rel="stylesheet"/>
    <link href="~/css/nucleo-svg.css" rel="stylesheet"/>
    <link href="~/css/soft-ui-dashboard.css?v=1.0.7" rel="stylesheet"/>
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
          theme: {
            extend: {
              colors: {
                brand: '#F73558',
                brandDark: '#9D0025',
              }
            }
          }
        }
      </script>
    <title>@ViewData["Title"]</title>
</head>
<body class="bg-black" >
@RenderBody()

<script src="~/js/core/popper.min.js"></script>
<script src="~/js/core/bootstrap.min.js"></script>
<script src="~/js/plugins/perfect-scrollbar.min.js"></script>
<script src="~/js/plugins/smooth-scrollbar.min.js"></script>
<script>
     const win = navigator.platform.indexOf('Win') > -1;
     if (win && document.querySelector('#sidenav-scrollbar')) {
       const options = {
         damping: '0.5'
       }
       Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
     }
     
     $.fn.maskVal = function () {
         return $(this).mask();
     };
     
     $(document).ready(function () { 
            $("*[mask-cpf]").mask('000.000.000-00', {reverse: true});
            $("*[mask-date]").mask('00/00/0000', {reverse: true});
            $("*[mask-cardcpf]").mask('000   000   000  00', {reverse: true});
     });
     
     function removeMasks(){
     ['[mask-cpf]'].forEach(m => {
     $(m).each(function() {
               var $input = $(this);
               var maskValue = $input.data('mask');
               $input.unmask(); // Assuming you have a way to unmask input fields with the jQuery Mask Plugin
               // If the above line doesn't work, try setting the value to the unmasked version manually
               // For example: $input.val($input.val().replace(/\D/g,''));
             });
     })
      
     }
   </script>
<script async defer src="https://buttons.github.io/buttons.js"></script>
<script src="~/js/soft-ui-dashboard.min.js?v=1.0.7"></script>
<script src="https://unpkg.com/@("@")bitjson/qr-code@1.0.2/dist/qr-code.js"></script>
<script src="https://kit.fontawesome.com/f4e825c197.js" crossorigin="anonymous"></script>


@await RenderSectionAsync("Scripts", required: false)
</body>
</html>