@page
@using Volunteasy.Infrastructure.Firebase
@model Login

@{
    Layout = "_Layout";
}

<main class="main-content  mt-0">
    <section>
        <div class="page-header min-vh-75">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-lg-5 col-md-6 d-flex flex-column mx-auto">
                        <div class="card card-plain mt-8">
                            <div class="card-header pb-0 text-left bg-transparent">
                                <h1 class="text-brand text-3xl mb-5">Bem-vindo(a)</h1>
                                <a href="/quero/@Model.OrganizationRouteSlug/register" class="text-brand text-lg font-weight-bold">Clique aqui para criar uma conta</a>
                                <p class="mb-0 mt-3 text-white">ou faça login abaixo para ver seus benefícios</p>
                            </div>
                            <div class="card-body">
                                <form role="form" method="post" action="" onsubmit="removeMasks()">
                                    @Html.AntiForgeryToken()
                                    <label class="text-white">CPF</label>
                                    <div class="mb-3">
                                        <input required mask-cpf="true" maxlength="14" minlength="3" asp-for="Credentials.Document" type="text" class="form-control" placeholder="CPF" aria-label="CPF" aria-describedby="document-addon">
                                    </div>
                                    <label class="text-white">Data de nascimento</label>
                                    <div class="mb-3">
                                        <input required asp-for="Credentials.BirthDate" asp- type="text" mask-date="true" class="form-control" placeholder="Data de nascimento" aria-label="Data de nascimento" aria-describedby="birthDate-addon">
                                    </div>
                                    @if (!string.IsNullOrEmpty(Model.ErrorDesc))
                                    {
                                        <div class="d-flex align-items-center">
                                            <span class="text-danger">
                                                <i class="fas fa-exclamation-circle"></i> @Model.ErrorDesc
                                            </span>
                                        </div>
                                    }
                                    <div class="text-center">
                                        <button class="btn  w-100 mt-4 mb-0" style="background-color: #F73558; color: white">Entrar</button>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="oblique position-absolute top-0 h-100 d-md-block d-none me-n8">
                            <div class="oblique-image bg-cover position-absolute fixed-top ms-auto h-100 z-index-0 ms-n6" style="background-image:url('img/curved-images/curved6.jpg')"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>