@page
@model Register

@{
    Layout = "_Layout";
}

<main class="main-content  mt-0 px-30">
    <section>
        <div class="page-header align-items-start min-vh-20 pt-5 pb-11 m-3 border-radius-lg" style="background-color: #F73558;">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5 text-center mx-auto">
                        <h1 class="text-white mb-2 mt-5 display-4">Bem vindo!</h1>
                        <p class="text-lead text-white">Crie sua conta para participar das distribuições da @(Model.Organization?.Name)</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row mt-md-n11 mt-n10">
                <div class="col-xl-4 col-lg-5 col-md-7 mx-auto">
                    <div class="card z-index-0 bg-black">
                        <div class="card-body">
                            <form role="form text-left" method="post" onsubmit="removeMasks()">
                                @Html.AntiForgeryToken()

                                <label class="text-white">Sobre você</label>
                                <div class="mb-3">
                                    <input required asp-for="Creation.Name" maxlength="50" minlength="1" type="text" class="form-control" placeholder="Seu nome (obrigatório)" aria-label="Name" aria-describedby="name-addon">
                                </div>
                                <div class="mb-3">
                                    <input required mask-cpf="true" maxlength="14" minlength="3" asp-for="Creation.Document" type="text" class="form-control" placeholder="CPF (obrigatório)" aria-label="Document" aria-describedby="document-addon">
                                </div>
                                <div class="mb-3">
                                    <input required mask-date="true" asp-for="Creation.BirthDate" type="text" class="form-control" placeholder="Data de nascimento (obrigatório)" aria-label="BirthDate" aria-describedby="date-addon">
                                </div>
                                <div class="mb-3">
                                    <input asp-for="Creation.Email" type="email" class="form-control" placeholder="Seu e-mail" aria-label="Email" aria-describedby="email-addon">
                                </div>
                                <div class="mb-3">
                                    <input asp-for="Creation.Phone" type="tel" class="form-control" placeholder="Seu telefone" aria-label="Phone" aria-describedby="phone-addon">
                                </div>


                                <label class="text-white">Localização</label>
                                <div class="mb-3">
                                    <input asp-for="Creation.Address!.ZipCode" type="text" class="form-control" placeholder="CEP" aria-label="Zip code" aria-describedby="postal-code-addon">
                                </div>
                                <div class="mb-3">
                                    <input asp-for="Creation.Address!.AddressName" type="text" class="form-control" placeholder="Rua" aria-label="Address" aria-describedby="address-addon">
                                </div>
                                <div class="mb-3">
                                    <input asp-for="Creation.Address!.AddressNumber" type="text" class="form-control" placeholder="Número" aria-label="AddressNumber" aria-describedby="addressNumber-addon">
                                </div>

                                <div class="form-check form-check-info text-left">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked>
                                    <label class="form-check-label text-white" for="flexCheckDefault">
                                        Concordo com os <a href="javascript:;" class="text-dark font-weight-bolder">termos e condições</a>
                                    </label>
                                </div>
                                @if (!string.IsNullOrEmpty(Model.ErrorDesc))
                                {
                                    <div class="d-flex align-items-center">
                                        <span class="text-danger">
                                            <i class="fas fa-exclamation-circle"></i> @Model.ErrorDesc
                                        </span>
                                    </div>
                                }
                                <div class="text-center">
                                    <button class="btn w-100 my-4 mb-2" style="background-color: #F73558; color: white">Criar conta</button>
                                </div>
                                <p class="text-sm mt-3 mb-0">Já tem uma conta? <a href="/quero/@(Model.OrganizationRouteSlug)/login" class="text-brand font-weight-bolder">Entre</a></p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>