@page "/"

<AuthorizeView>
    <Authorized>
        <span class="navbar-brand font-weight-bolder ms-lg-0 ms-3 ">
            Olá, @context.User.Identity?.Name?.Split(" ").FirstOrDefault()!
        </span>
    </Authorized>
</AuthorizeView>