@using Volunteasy.Core.Services
@using Volunteasy.Core.DTOs
@using Volunteasy.Core.Enums
@using Volunteasy.Core.Model
@using Volunteasy.Web.Auth



@inject IMembershipService Memberships
@inject ISession Session

<AuthorizeView>
    <Authorized>
        <a href="Identity/Account/Manage">Olá, @context.User.Identity?.Name!</a>
        <form method="get" action="admin/auth">
            <button type="submit" class="nav-link btn btn-link">Sair</button>
        </form>
        <span>@Organization</span>
    </Authorized>
    <NotAuthorized>
        <a href="/register">Register</a>
        <a href="/login">Log in</a>
    </NotAuthorized>
</AuthorizeView>


@code {

    [CascadingParameter] 
    public Task<AuthenticationState> Auth { get; set; }

    public string Organization = "";

    protected async override Task OnInitializedAsync()
    {
        var state = await Auth;
        Organization = state.User.FindFirst("organization_name")?.Value ?? "No name";
    }

}