@using Volunteasy.Core.Services
@using Volunteasy.Core.DTOs
@using Volunteasy.Core.Enums
@using Volunteasy.Core.Model
@using Volunteasy.Web.Auth



@inject IMembershipService Memberships
@inject ISession Session
@inject AuthenticationStateProvider Auth

<AuthorizeView>
    <Authorized>
        <a href="Identity/Account/Manage">Hello, @context.User.Identity?.Name!</a>
        <form method="post" action="Identity/Account/Logout">
            <button type="submit" class="nav-link btn btn-link">Log out</button>
        </form>
        @if (!Organizations.Any())
        {
            <span>Sem organizações</span>
        }
        else
        {
            <select @bind="@(((SessionProvider)Session).OrganizationId)">
                @foreach (var org in Organizations)
                {
                    <option value="@org.OrganizationId">@org.OrganizationName</option>
                }
            </select>
        }
    </Authorized>
    <NotAuthorized>
        <a href="/Register">Register</a>
        <a href="/Login">Log in</a>
    </NotAuthorized>
</AuthorizeView>


@code {

    private List<OrganizationMember> Organizations { get; set; } = new();

    protected override void OnInitialized()
    {
        Auth.AuthenticationStateChanged += async state =>
        {
            var (userid, orgid) = SessionProvider.GetFromState(await state);
            
            if (userid == 0)
                return;

            if (orgid != 0)
                return;
            
            await ListOwnedOrganizations(userid);
        };
    }
    
    private async Task ListOwnedOrganizations(long userId)
    {
        var page = (long)0;

        do
        {
            var (organizations, next) = await Memberships.ListMemberships(new MembershipFilter
            {
                MemberId = userId, Role = MembershipRole.Owner
            }, page);

            if (next == null)
                break;

            page = Convert.ToInt64(next);
            Organizations.AddRange(organizations);

        } while (page == 0);
        
        StateHasChanged();
    }

}