@page
@model EnrollDistribution
@{
    ViewData["Title"] = "Home page";
}


<main class="container mb-5 pt-5 bg-black">

    <div class="text-center mb-3">
        <h4 class="display-3 text-white">Benefício concedido</h4>
    </div>

    <p class="text-center text-brand mb-2">Apresente o cartão abaixo no dia informado para pegar sua doação</p>
    <p class="text-center text-brand mb-5">Lembre-se que pode haver filas, então tente não se atrasar</p>
    
            <div class="col-xl-6 mb-xl-0 mb-4">
                <div class="card bg-transparent shadow-xl">
                    <div class="overflow-hidden position-relative border-radius-xl" style="background-color: #F73558">
                        <span class="mask"></span>
                        <div class="card-body position-relative z-index-1 p-3">
                            <i class="fa-solid fa-hand-holding-hand text-white p-2"></i>
                            <div class="d-flex align-items-center justify-content-center flex-wrap">
                                <div class="d-flex justify-content-around flex-wrap">
                                    <div class="ms-auto w-100 w-md-40 w-lg-40 d-flex align-items-center justify-content-around flex-wrap">
                                        <div class="mb-4">
                                            <p class="text-brandDark text-bold text-md opacity-8 mb-0">Data</p>
                                            <p class="text-white mb-2 text-xl">@Model.Distribution?.StartsAt.ToString("dd/MM/yyyy")</p>
                                        </div>
                                        <div class="mb-4">
                                            <p class="text-brandDark text-bold text-md opacity-8 mb-0">Horário</p>
                                            <p class="text-white mb-2 text-xl">@Model.Distribution?.StartsAt.ToString("HH:mm")h</p>
                                        </div>
                                        <div class="mb-4 w-75">
                                            <p class="text-brandDark text-bold text-md opacity-8 mb-0">Retire em</p>
                                            <p class="text-white mb-2 text-xl">
                                                <a class="text-white" style="text-decoration: underline" href="https://maps.google.com/?q=@(Model.Organization?.Address?.ToString())">@(Model.Organization?.Address?.ToStringWithoutCpf())</a>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="ms-auto w-100 w-md-60 w-lg-60 d-flex align-items-center justify-content-center">
                                        <qr-code id="qr1" module-color="#ffffff" position-ring-color="#ffffff"
                                                 position-center-color="#ffffff" contents="@Model.Benefit.Id">
                                            <img src="img/Volunteasy.svg" slot="icon"  alt=""/>
                                            
                                        </qr-code>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
</main>